body{
    background-image: url("../imagen/fondoo.png");
  }
  #wrap{
    margin: 0 auto;
    width: 500px;
  }
  details{
    border: 1px solid #CC0;
    padding: 5px;
    font-family: Arial;
    margin-bottom:5px;
    width:500px;
    background-color: #EEE;
  }
  summary{
    font-weight: bold;
    color: SteelBlue;
    font-size: 12px;
    cursor: pointer;
  }
  p, a, span{
    font-size: 12px;
    color: #666;
  }
  details summary::-webkit-details-marker {
    color: #CC0;
    transition: .3seg;
  }
  h2{
    color: #FFF;
    font-size: 40px;
    font-family: Helvetica;
    text-align: center;
  }
  #logo{
    background: SteelBlue url(https://www.lawebera.es/img/sprites.png) no-repeat;
    background-position: 0 -224px;
    height: 62px;
    width: 230px;
    margin-top: 11px;
    padding:3px;
  }